<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TwitterAPIKey</key>
	<string>z4EqTql7t6X0HNQFP3A6cKxum</string>
	<key>TwitterAPISecretKey</key>
	<string>vvBhzE4t3RGOZlt48LHg63rchfcg2j09icUxnBgLPHXy9dzE3i</string>
</dict>
</plist>
